<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dojos</h1>
    <form action="/dojos/create" method="POST">
        <input type="text" name="name" placeholder="Dojo name">
        <button type="submit">Add dojo</button>
    </form>
    <ul>
        {% for dojo in dojos %}
            <li><a href="/dojos/{{ dojo.id }}">{{ dojo.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="/ninjas">Add Ninja</a>
</body>
</html>