<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">{{ dojo.name }}</h1>
        <ul class="list-group">
            {% for ninja in dojo.ninjas %}
                <li class="list-group-items"><h4>First Name:</h4> {{ ninja.first_name }}</li>
                <li class="list-group-items"><h4>Last Name:</h4> {{ ninja.last_name }}</li>
                <li class="list-group-items"><h4>Age:</h4> {{ ninja.age }}</li>
            {% endfor %}
        </ul>
    <a href="/dojos">Home</a>
</body>
    </div>
</html>