<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Edit recipe</h1>
        <form action="/recipes/update/{{ recipe.id}}" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="" value="{{ recipe.name}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Desciption</label>
                <textarea name="desciption" id="desciption" class="form-control">{{ recipe.desciption }}</textarea>
            </div>
            <div class="form-group">
                <label for="name">Instruction</label>
                <textarea name="instruction" id="instruction" class="form-control">{{ recipe.instruction }}</textarea>
            </div>
            <div class="form-group">
                <label for="name">Under 30 minute</label>
                <select name="under_300">
                    <option value="1" {{}}>Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>