<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Edit recipe</h1>
        <form action="/recipes/{{ recipe.id }}/updates/" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{ recipe.name }}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="name">Desciption</label>
                <textarea name="description" id="description" class="form-control" required>{{ recipe.description }}</textarea >
            </div>
            <div class="form-group">
                <label for="name">Instruction</label>
                <textarea name="instruction" id="instruction" class="form-control" required>{{ recipe.instruction }}</textarea>
            </div>
                <div class="form-group">
                    <label for="under_30">Under 30 Minutes</label>
                    <input type="radio" value="1" name="under_30" required> Yes
                    <input type="radio" value="0" name="under_30" required> No
                </div>
            <button type="submit" class="btn btn-primary">Update Recipies</button>
        </form>
    </div>
</body>
</html>