<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Edit recipe</h1>
        <form action="/recipes/{{ recipe.id }}/updates/" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{ recipe.name }}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="name">Desciption</label>
                <textarea name="description" id="description" class="form-control" required>{{ recipe.desciption }}</textarea >
            </div>
            <div class="form-group">
                <label for="name">Instruction</label>
                <textarea name="instruction" id="instruction" class="form-control" required>{{ recipe.instruction }}</textarea>
            </div>
            <div class="form-group">
                <label for="under_30">Under 30 minute</label>
                <select name="under_30">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update Recipies</button>
        </form>
    </div>
</body>
</html>